params {

    // TODO nf-core: Specify your pipeline's command line flags
    // Input Output options
    input                       = null
    outdir                      = null
    Account                     = "NO12345"
    mode                        = 0
    pipeline_prefix             = "MetaflowX"
    function                    = "mag"
    single_end                  = false
    remove_temp_sam_bam         = false
    pipeline_assets             = "${baseDir}"


    // QC options
    skip_qc                     = false
    qc_tool                     = "fastp"
    adapters                    = "${params.pipeline_assets}/assets/TruSeq3-PE.fa"
    fastp_options               = "-g -q 5 -u 50 -n 15 -l 75 --overlap_diff_limit 1 --overlap_diff_percent_limit 10 --detect_adapter_for_pe --cut_front --cut_right"
    trim_ILLUMINACLIP_options   = "2:30:10"
    trim_options                = "LEADING:5 TRAILING:5 SLIDINGWINDOW:4:15 MINLEN:75 -phred33"
    qc_bowtie2_options          = "--very-sensitive --no-head --no-sq --reorder"
    host_db                     = "/PATH/TO/DATABASE/Homo_sapiens/hg38_bowtie2_index" 
    host_db_index               = "hg38.index"


    // Assembly options
    assembly_tool               = "metaspades"
    min_contig_len              = 2000
    metaspades_options          = "--meta"
    megahit_options             = "--min-contig-len ${params.min_contig_len}"


    // Marker options
    skip_marker                 = false
    metaphlan                   = true
    metaphlan_version           = "4.0"
    mpa_db                      = "/PATH/TO/DATABASE/metaphlan/mpa_vJan21"
    mpa_index                   = "mpa_vJan21_CHOCOPhlAnSGB_202103"
    sgb2gtdb_index              = "mpa_vJan21_CHOCOPhlAnSGB_202103_SGB"
    mpa_options                 = "--input_type fastq --read_min_len 50 --add_viruses -t rel_ab"
    mpa_extra_abun_method       = null
    save_metaphlan_output       = true
   
    humann                      = true
    humann_version              = "3"
    humann_chocophlan_db        = "/PATH/TO/DATABASE/humann/v201901b/chocophlan"
    humann_protein_db           = "/PATH/TO/DATABASE/humann/v201901b/uniprot/uniref_annotated/uniref90"
    humann_map_db               = "/PATH/TO/DATABASE/humann/v201901b/full_mapping"
    humann_search_mode          = "uniref90"
    humann_options              = "--remove-temp-output --remove-column-description-output"
    humann_regroup_table_options= "-e 14"
    humann_map_CARD             = null
    humann_map_CAZy             = null
    humann_map_VFDB             = null
    humann_map_GMMs             = null
    ko_module                   = null
    ko_pathway                  = null
    save_humann_output          = true

    kraken2                     = false
    kraken2_db                  = "/PATH/TO/DATABASE/Kraken2/standard"
    kraken2_options             = null
    bracken_options             = "-r 150"
    save_kraken2_output         = true
    

    // Geneset options
    prodigal_options            = "-p meta"
    gene_min_length             = 150
    cdhit_options               = "-c 0.95 -aS 0.9 -n 10 -M 0 -d 0"
    cdhit_split_run_eachthread  = 16
    cdhit_split_run_threshold   = 1000000
    cdhit_geneset_chunk_size    = 500000
    
    eggnog_diamond_db           = "/PATH/TO/DATABASE/eggnog_5.0/bact_arch/bact_arch.dmnd"
    eggnog_mapper_db            = "/PATH/TO/DATABASE/eggnog/emapperdb-5.0.2"
    eggnog_options              = "--itype proteins -m diamond"
    eggnog_protein_chunk_size   = 10000
    geneset_profile_bowtie2_options = null
    save_geneset_abundance      = true

    VFDB_db                     = null
    
    CARD_db                     = null
    rgi_load_options            = "--debug --kmer_size 61"
    rgi_main_options            = "--input_type protein --alignment_tool DIAMOND --clean --include_nudge"

    bigspace_path               = "/PATH/TO/SOFTWARE/BiG-SCAPE"
    bigspace_db                 = null
    antismash_options           = "--genefinding-tool prodigal-m --minlength ${params.min_contig_len}"
    bigmap_family_options       = null 
    bigmap_map_options          = null

    ntDB_name                   = "ntDB"
    ntDB_bowtie2_options        = "--sensitive"
    nucleotide_db               = null

    proDB_name                  = "proDB"
    proDB_diamond_options       = "-e 1e-5 --id 40"
    protein_db                  = null


    // Binning options
    skip_binning                = false
    metabat2                    = true
    metabat2_options            = "--seed 1"
    concoct                     = true
    concoct_options             = null
    semibin2                    = true
    semibin2_options            = "--orf-finder prodigal --tmpdir tmp/ --environment global -m ${params.min_contig_len} --compression none"
    maxbin2                     = false
    maxbin2_options             = null
    metabinner                  = true
    metabinner_path             = "/PATH/TO/SOFTWARE/miniconda3/envs/mymetabinner/bin"
    metabinner_options          = null
    binny                       = false
    binny_path                  = "/PATH/TO/SOFTWARE/binny"
    binny_options               = null
    comebin                     = false
    comebin_options             = null
    binning_bowtie2_options     = null
    dastool_options             = "--write_bin_evals --write_bins"
    checkm2_db                  = "/PATH/TO/DATABASE/CheckM2/uniref100.KO.1.dmnd"
    checkm2_options             = "-x fa"
    completeness                = 50
    contamination               = 10
    QS                          = 40
    drep_split_run_threshold    = 800
    drep_bin_chunk_size         = 200
    drep_split_thread           = null  
    drep_split_mem              = null
    drep_options                = "-sa 0.95 -nc 0.3 --ignoreGenomeQuality"

    DASToolBinOptimizer         = true
    PermutationBinOptimizer     = true
    similarity_ratio            = 0.8
    
    bin_taxonomy                = true
    gtdbtk_db                   = "/PATH/TO/DATABASE/gtdbtk/release214"
    mash_db                     = "/PATH/TO/DATABASE/gtdbtk/release214/mash"
    gtdb_archaeal_metadata      = "/PATH/TO/DATABASE/gtdbtk_R214/metadata/ar53_metadata_r214.tsv.gz"
    gtdb_bacterial_metadata     = "/PATH/TO/DATABASE/gtdbtk_R214/metadata/bac120_metadata_r214.tsv.gz"
    gtdbtk_classify_wf_options  = "--extension fa --pplacer_cpus 1 --scratch_dir ./"
    gtdbtk_identify_options     = "--extension fa"
    gtdbtk_align_options        = null
    gtdbtk_infer_options        = null
    gtdb_bin_chunk_size         = 500

    bin_function                = true
    gene_info                   = null
    cdhit_clstr                 = null
    emapper_annotation          = null
    vfdb_annotation             = null
    card_annotation             = null
    cog_db_category             = "${params.pipeline_assets}/db/cog_level.txt"
    go_db_category              = "${params.pipeline_assets}/db/GO_ontology.txt"
    kegg_db_category            = "${params.pipeline_assets}/db/ko_category.txt"
    cazy_db_category            = "${params.pipeline_assets}/db/cazy_category.txt"

    bin_abundance_calculation   = true
    binset_profile_bowtie2_options = null
    coverm_options              = "-x fa --min-covered-fraction 0"
    method4coverm               = "relative_abundance,trimmed_mean,count"


    // refine & reassembly Bin options
    bin_refine                  = false
    genome_paths                = "/PATH/TO/DATABASE/gtdbtk/release214/fastani/genome_paths.tsv"
    refine_bin_options          = "-a 50 -A 90 -b 1 -B 10"
    deepurify_db                = "/PATH/TO/DATABASE/Deepurify2/Deepurify-DB/"
    deepurify_module            = "clean"
    deepurify_clean_options     = "--bin_suffix fa --gpu_num 0 --each_gpu_threads 1 --temp_output_folder ./tmp/"
    deepurify_rebin_options     = "--gpu_num 0 --each_gpu_threads 1 --temp_output_folder ./tmp/"
    cobra_options               = "-mink 21 -maxk 127 -lm 3"
    max_dist_threshold          = 0.2
    min_quality_score           = 50
    preprocess_bin_assembly_options = "--use_single_sample --max_dist_threshold ${params.max_dist_threshold}"

    bin_reassembly              = false
    reassembly_min_contig_len   = 2000
    reassembly_HQ_options       = "--completeness 90 --contamination 5"
    get_bin_assembly_options    = "--minCompleteness 90 --minContamination 5 --minQS 65 --minCount 10000 --minDepth 1"
    extract_bin_reads_options   = "--max_dist_threshold 0.2 --topSampleNum 10"
    bin_min_abundance           = 0.0001
    bin_min_popularity          = 0.001
    remove_samples              = null
    hybridSPAdes_options        = "--meta --only-assembler"


    // minitools
    //bra
    bin_QS_taxonomy             = null
    bins_count_abun             = null
    bins_mean_abun              = null
    bin_genome_floder           = null
    //bbs
    contig2bin                  = null
    protein_list                = null
    contig_list                 = null

    //report
    report_topic                = "${params.pipeline_assets}/assets/report/topic.txt"
    report_order                = "${params.pipeline_assets}/assets/report/report.order.txt"
    report_template             = "${params.pipeline_assets}/assets/report/template_V20240307.html"
    report_images               = "${params.pipeline_assets}/assets/report/img"

}