// Global default params, used in configs
params {

    // TODO nf-core: Specify your pipeline's command line flags

    // Databases
    bigspace_db                 = "${params.pipeline_assets}/test/database/BiG-MAP"
    CARD_db                     = "${params.pipeline_assets}/test/database/CARD/v3.2.7"
    VFDB_db                     = "${params.pipeline_assets}/test/database/VFDB_setB_pro.fas.S.fasta"
    nucleotide_db               = "${params.pipeline_assets}/test/database/VFDB_setB_nt.fas.S.fa"
    protein_db                  = "${params.pipeline_assets}/test/database/VFDB_setB_pro.fas.S.fasta"

    // Marker options
    kraken2                     = true
    humann_map_CARD             = null
    humann_map_CAZy             = null
    humann_map_VFDB             = null
    humann_map_GMMs             = null
    ko_module                   = null
    ko_pathway                  = null

    // Binning options
    maxbin2                     = true
    binny                       = true
    comebin                     = true

    bin_refine                  = false
    bin_reassembly              = true

}