params {
    
    metaphlan_version           = "4.1"
    mpa_db                      = "/share/database/metaphlan/mpa_vOct22_202403"
    mpa_index                   = "mpa_vOct22_CHOCOPhlAnSGB_202403"

    humann_version              = "4"
    humann_chocophlan_db        = "/share/database/humann/v4_alpha/chocophlan"
    humann_protein_db           = "/share/database/humann/v4_alpha/uniref"
    humann_map_db               = "/share/database/humann/v4_alpha/utility_mapping"

}