/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/metassembly -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

docker.enabled = true

params {
    config_profile_name        = 'Mode 1 Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function：QC'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 8
    max_memory = '16.GB'
    max_time   = '24.h'

    // Input data
    // TODO nf-core: Specify the paths to your test data on nf-core/test-datasets
    // TODO nf-core: Give any required params for the test so that command line flags are not needed
    
    input = "${baseDir}/test/samplesheet.csv"
    function = "test"
    
}

process {
    withName: FASTPONLY {
        publishDir = [
            path: {"${params.outdir}/01.CleanData/${meta.id}"},
            pattern: "*.gz",
            mode: params.publish_dir_mode,
            failOnError: true   
        ]
    }    

}