params {
    
    metaphlan_version           = "4.1"
    mpa_db                      = "/PATH/TO/DATABASE/metaphlan/mpa_vOct22_202403"
    mpa_index                   = "mpa_vOct22_CHOCOPhlAnSGB_202403"

    humann_version              = "4"
    humann_chocophlan_db        = "/PATH/TO/DATABASE/humann/v4_alpha/chocophlan"
    humann_protein_db           = "/PATH/TO/DATABASE/humann/v4_alpha/uniref"
    humann_map_db               = "/PATH/TO/DATABASE/humann/v4_alpha/utility_mapping"

}